.profile__vector {
  background-image: url("../../../images/карандаш.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__vector {
    background-image: url("../../../images/карандаш7.5.svg");
    width: 7.5px;
    height: 7.5px;
  }
}
