.profile {
  display: flex;
  margin-bottom: 51px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
}
