.element__heart {
  background-image: url("../../../images/сердце.svg");
  background-repeat: no-repeat;
  margin-top: 5px;
  width: 26px;
}

.element__heart:hover {
  opacity: 0.5;
  transition: 0.3s all;
  cursor: pointer;
}

.element__heart:active {
  background-image: url("../../../images/сердце_черное.svg");
  transition: 0.3s all;
}
