.popup__submit {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 14px 124px 18px 125px;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
  border-radius: 2px;
  transition: 0.3s all;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
    padding: 14px 82px;
  }
}
